.scapper&preprocessing
.venv
config.py
.demo
demo.db
.pql_pro
preprocessing.py
scraper_demo.py
scraping.pdf
demo_sqlite.py
sql.py
preprocessing_EDA.ipynb
scraping & Data prep.pdf
Error_handling_demo.ipynb
Sentiment_demo.ipynb
restaurants.csv
display_results.ipynb
reviews.csv
insert_into_tables.ipynb
requirements.

echo "data/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo ".env" >> .gitignore
echo "venv/" >> .gitignore

settings.cpython-314.pyc
__init__.cpython-314.pyc
scraper.cpython-314.pyc
bank_reviews.csv
data_handler.cpython-314.pyc
preprocessing.log
data_handler.cpython-314.pyc
